* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

#navbar {
	height: 60px;
	line-height: 60px;
}

#navbar img {
	vertical-align: middle;
	height: 20px;
	margin-left: 30px;
}

#menu {
	float: right;
	list-style: none;
	margin:0;
	padding:0;
}

#menu li {
	float: left;
}

#menu li a {
	font-size: 13px;
	line-height: 60px;
	margin-right: 30px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#background {
	height:450px;
	width:100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

p {
	font-size: 24px;
	color: #545454;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}

.product {
	width: 225px;
	text-align: center;
	display: block;
	color: #545454;
	text-decoration:none;
	float: left;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 80px;
}

.product_name {
	margin-top: 20px;
	margin-bottom: 4px;
}

#product-list {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix {
	clear:both;
}

#footer {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 80px;
}

#footer a {
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
}