* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.navbar {
	width: 100%;
	height: 60px; 
	background-color: #353535;
	line-height: 60px;
}

.navbar .logo {
	font-size: 20px;
	color: white;
	vertical-align: middle;
	line-height: normal;
	padding-left: 30px;
	padding-right: 30px;
}

.banner {
	width: 100%;
	height: 350px;
	background-image: url(../images/main_img.jpg);
	background-size: cover;
	background-position: center center;
}
.info {
	width: 100%;
	height: 320px;
	background-color: white;
	line-height: 320px;
	padding-left: 30px;
	padding-right: 30px;
}

.helper {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.info .label {
	font-size: 16px;
	color: #4a4a4a;
}

.info h2 {
	font-size: 20px;
	color: #1b1b1b;
	margin-top: 10px;
	margin-bottom: 30px;
}
.info p {
	font-size: 16px;
	color: #7a7a7a;
	margin: 0;
}

.img-div1 {
	width: 100%;
	height: 385px;
	background-image: url(../images/img1.jpg);
	background-size: cover;
	background-position: center top;
}

.img-div2 {
	width: 100%;
	height: 200px;
	background-color: #0000ff;
	background-image: url(../images/img2.jpg);
	background-size: cover;
	background-position: center top;
	line-height: 200px;
	text-align: center;
}

.img-div2 a {
	font-size: 16px;
	font-weight: bold;
	color: white;
	border: 4px solid white;
	padding: 9px 40px;
	text-decoration: none;
	vertical-align: middle;
	line-height: normal;
}

.img-div3 {
	width: 100%;
	height: 200px;
	background-color: #4b0082;
	background-image: url(../images/img3.jpg);
	background-size: cover;
	background-position: center top;
}

/*Tablet*/

@media (min-width: 768px) {
	.col {
		float: left;
	}
	.banner {
		height: 562px;
	}
	.info {
		height: 282px;
		padding-left: 65px;
		padding-right: 65px;
	}
	.img-div1 {
		width: 50%;
		height: 360px;
	}
	.img-div2 {
		width: 50%;
		height: 180px;
	}
	.img-div3 {
		width: 50%;
		height: 180px;
	}
}

/* Desktop */

@media(min-width: 992px) {
	.banner {
		width: 50%;
		height: 700px;
	}
	.info {
		width: 50%;
		height: 350px;
	}
	.img-div1 {
		width: 25%;
		height: 350px;
	}
	.img-div2 {
		width: 25%;
		height: 175px;
	}
	.img-div3 {
		width: 25%;
		height: 175px;		
	}

}