* {
  box-sizing: border-box;
  font-family: 'Nanum Pen Script', cursive;
}

body {
	  background-color: #f0e8d9;
}

p {
	color: #58595b;
	text-align: center;
}

form {
	border-radius: 10px;
	border: none;
	padding: 20px;
	text-align: center;
}

#theme {
	font-size: 64px;
	margin-top: 64px;
	margin-bottom: 30px;
}

#sub_theme {
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 75px;
}

img {
	width: 100%;
	margin: 0 auto;
	border-radius: 10px;
}

.name {
	font-size: 32px;
	margin-top: 0;
	margin-bottom: 20px;
}

.talk {
	font-size: 16px;
	margin-bottom: 16px;
	text-align: left;
}

a {
	color: #0000ee;
	text-decoration: none;
	font-size: 16px;
	margin-top: 0;

}

.box {
	background-color: white;
	float: left;
	border-radius: 10px;
	width: 300px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 50px;
}

#bigbox{
	width: 660px;
	margin-left: auto;
	margin-right: auto;
}